body {
    background-color:beige;
    border:double;
}

h2 {


}

 #divtopbar {
    background-image: url("images/top_banner.png"); 
    background-repeat:no-repeat;
    width:80%;
    clear:both;
    height:130px;
    border:dotted;
    border-width:thin;
    text-align:center;
    background-color:lightgreen;
    text-align:center;
}

#divuserbar {
    width:80%;
    clear:both;
    height:30px;
    border:dotted;
    border-width:thin;
    text-align:center;
}

#divmenubar {
    width:80%;
    clear:both;
    height:30px;
    border:dotted;
    border-width:thin;
    text-align:left;
}

.verticalspacer {
    width:80%;
    clear:both;
    height:5px;
}


#divtorsocontent{
    width:80%;
    clear:both;
    height:auto;
}


#divwfpnewblock {
    width:80%;
    clear:both;
    height:300px;
    border:dotted;
    border-width:thin;
}

#divjicavertiblock {
    width:40%;
    float:left;
    height:500px;
    border:dotted;
    border-width:thin;
}

#divjicahoriblock {
    width:55%;
    float:right;
    height:500px;
    border:dotted;
    border-width:thin;
}
#divjicablockparent {
    width:80%;
    clear:both;
    height:550px;
    border:dotted;
    border-width:thin;
}

#divcafeandoldblockparent {
    width:80%;
    clear:both;
    height:550px;
    border:dotted;
    border-width:thin;
}

#divwfpoldblock {
    width:40%;
    float:left;
    height:550px;
    border:dotted;
    border-width:thin;

}

#divwfpcafeblock {
    width:55%;
    float:right;
    height:550px;
    border:dotted;
    border-width:thin;

}

#divhosoblockparent {
    width:80%;
    clear:both;
    height:250px;
    border:dotted;
    border-width:thin;
}

#divhosoblock {
    width:40%;
    float:left;
    height:250px;
    border:dotted;
    border-width:thin;
}

#divwfpcafeblock {
    width:55%;
    float:right;
    height:250px;
    border:dotted;
    border-width:thin;

}

#divfooterblock {
    width:80%;
    clear:both;
    height:150px;
    border:dotted;
    border-width:thin;
}
